.new-note-field {
  box-sizing: border-box;
  width: 100%;
}

.notes {
  padding: 0 2em;
}

.note {
  display: flex;
  justify-content: space-between;
}

.note-text {
  box-sizing: border-box;
  padding: 0.3em;
}

.timeline {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
